@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --font-color-white: #e7e7e7;

  --header-background-color: #18191b;
  --search-bar-color: #383c42;
  --search-bar-hover-color: #4e5358;

  --font-moderustic: Moderustic;
}

.rategamespage {
    margin-left: 250px;  
    height: 100%;
    box-sizing: border-box;
    transition: margin-left 0.3s ease-in-out;
}

.header-rategames {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-moderustic);
  background-color: var(--header-background-color);
}

.header-rategames h1 {
  color: var(--font-color-white);
  margin: 20px auto;
}

.rategames-main {
  display: flex;
  background-color: var(--search-bar-color);
  width: 100%;
  min-height: 100vh;
  justify-content: center;
}

.rategames-form-container {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.form-chart-container {
  width: 100%;
  display: flex;
}

.rategames-chart-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rategames-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}

.rategames-input-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.rategames-input-text {
  color: var(--font-color-white);
  font-family: var(--font-moderustic);
  text-align: right;
  min-width: 200px;
}

.rategames-input {
  min-width: 50px;
  width: 12%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  background-color: var(--header-background-color);
  border: 0px;
  margin: 0 0;
  color: var(--font-color-white);
  font-family: var(--font-moderustic);
  transition-property: background-color;
  transition-duration: var(--search-bar-duration);
}

.rategames-input:hover {
  background-color: var(--input-hover-color);
}

.rategames-input:focus {
  outline: none;
  background-color: var(--input-hover-color);
  color: var(--font-color-white);
}

.submit-rating-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.submit-rating-button {
  font-size: 16px;
  padding: 8px 26px;
  font-family: var(--font-moderustic);
  border-radius: 5px;
  background-color: var(--color-button-blue);
  color: var(--font-color-white);
  border: 0px;
  transition-property: background-color;
  transition-duration: var(--search-bar-duration);
  cursor: pointer;
}

.submit-rating-button:hover {
  background-color: var(--color-button-blue-hover);
}

.rate-games-title {
  display: flex;
  width: 100%;
  align-items: center;
}

.ratepage-game-name {
  text-align: center;
  width: 60%;
  color: var(--header-background-color);
  font-size: 26px;
}

@media (max-width: 768px) {
  .rategamespage {
    margin-left: 200px; 
  }
}

@media (max-width: 500px) {
  .rategamespage {
    margin-left: 0; 
  }
}