.collection-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 64px;
    margin: 0 auto;
    padding: 16px;
    background: 
        linear-gradient(90deg, rgba(0, 0, 0, 0.822) 0%, var(--header-background-color-alt, #b4be1e) 100%),
        radial-gradient(circle at 10% 20%, rgba(255,255,255,0.12) 2px, transparent 2.5px),
        radial-gradient(circle at 40% 60%, rgba(255,255,255,0.10) 1.5px, transparent 2px),
        radial-gradient(circle at 80% 30%, rgba(255,255,255,0.15) 1.8px, transparent 2.3px),
        radial-gradient(circle at 60% 80%, rgba(255,255,255,0.10) 2px, transparent 2.5px);
    background-blend-mode: lighten;
    color: var(--font-color-white);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.collection-container:hover {
  transform: scale(1.05);
}

.collection-name,
.collection-rating,
.collection-count {
    font-size: clamp(14px, 2vw, 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.collection-name {
    font-family: var(--font-moderustic);
    width: 60%;

}

.collection-rating,
.collection-count {
    font-family: var(--font-lato);
    width: 20%;
    text-align: right;
}