@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-color-white: #e7e7e7;

    --header-background-color: #18191b;
    --input-hover-color: #232528;

    --font-moderustic: Moderustic;
}

.addgamepage {
    margin-left: 250px;  
    height: 100vh;
    box-sizing: border-box;
    transition: margin-left 0.3s ease-in-out;
    background-color: var(--search-bar-color);
}

.header-addgamepage {
    background-color: var(--header-background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-moderustic);
}

.header-addgamepage h1 {
    color: var(--font-color-white);
    padding: 20px;
}

.addgame-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--search-bar-color);
}

.gameform {
    display: flex; 
    flex-direction: column; 
    gap: 20px;
    width: 80%;
    padding-top: 20px; 
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.namecampaignstatus {
    display: flex;
    flex-direction: row;
    gap: 36px;
    width: 100%;
}

.gameform-inputs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
}

.campaignselect {
    appearance: none;
    background-color: white;
    border: 2px solid #4CAF50;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    color: var(--font-color-white);
    font-family: var(--font-moderustic);
    border: 0px;
    cursor: pointer;
    background-color: var(--header-background-color);
}

.gameform-selects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gameform-text {
    color: var(--font-color-white);
    font-family: var(--font-moderustic);
    font-size: 18px;
}

.gameform-textinput {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    background-color: var(--header-background-color);
    border: 0px;
    margin: 0 0;
    width: 100%;
    color: var(--font-color-white);
    font-family: var(--font-moderustic);
    transition-property: background-color;
    transition-duration: var(--search-bar-duration);
}
  
.gameform-textinput:hover {
    background-color: var(--input-hover-color);
}

.gameform-textinput:focus {
    outline: none;
    background-color: var(--input-hover-color);
    color: var(--font-color-white);
}

.gameform-dateinput {
    width: 100px;
}

.gameform-dates {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

@media (max-width: 768px) {
    .addgamepage {
        margin-left: 200px; 
    }
}

@media (max-width: 500px) {
    .addgamepage {
      margin-left: 0; 
    }
}