@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --font-color-white: #e7e7e7;

  --search-bar-duration: 0.5s;
  --search-bar-color: #243242;
  --search-bar-hover-color: #1b2838;

  --font-moderustic: Moderustic;
  --font-lato: Lato;

  --border-radius-bar: 5px
}

.homepage {
  margin-left: 250px;  
  height: 100vh;
  box-sizing: border-box;
  transition: margin-left 0.3s ease-in-out;
}

.header {
  width: 100%;
  background-color: #334760;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-moderustic);
}

.header h1 {
  color: var(--font-color-white);
  margin: 20px auto;
}

.searchbarfilter {
  margin-bottom: 20px;
  display: flex;
  width: 80%;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.searchbar {
  padding: 8px;
  font-size: 14px;
  border-radius: var(--border-radius-bar);
  background-color: var(--search-bar-color);
  border: 0px;
  margin: 0 auto;
  font-family: var(--font-moderustic);
  flex-grow: 1;
  transition-property: background-color, box-shadow;
  transition-duration: var(--search-bar-duration), var(--search-bar-duration);
}

.searchbar:hover {
  background-color: var(--search-bar-hover-color);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.searchbar:focus {
  outline: none;
  background-color: var(--search-bar-hover-color);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: var(--font-color-white);
}

.sortbutton {
  font-size: 14px;
  padding: 8px;
  font-family: var(--font-moderustic);
  border-radius: var(--border-radius-bar);
  background-color: var(--search-bar-hover-color);
  color: var(--font-color-white);
  border: 0px;
  transition-property: background-color, box-shadow;
  transition-duration: var(--search-bar-duration), var(--search-bar-duration);
  cursor: pointer;
}

.sortbutton:hover {
  background-color: var(--search-bar-color);
  box-shadow: inset 0px 0px 10px rgba(118, 118, 118, 0.2);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #acbcd1;
}

.gameCard {
  margin: 10px 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: stretch; 
}

.cardInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.gameName {
  font-size: 30px;
  padding: 10px 10px;
  width: 100%;
  text-align: left;
  font-family: var(--font-moderustic);
  background-color: #454749;
  color: var(--font-color-white);
}

.gameInfo {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 16px;
  color: var(--font-color-white);
  font-family: var(--font-lato);
  padding: 10px 0px 10px 10px;
  background-color: #3c3d3e;
  line-height: 22px;
}

.gameImage {
  background-color: #3c3d3e;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameImage img {
  height: 90%; 
  width: 90%;
}

@media (max-width: 768px) {
  .homepage {
    margin-left: 200px; 
  }
}

@media (max-width: 500px) {
  .homepage {
    margin-left: 0; 
  }
}